/*.footer {
  height: 200px;
  background-color: #2C2B2B;
  margin-top: 55px;
  text-align: center;
}*/

.footer {
  background-color: #2C2B2B;
  text-align: center;
  padding: 40px;
  margin-top: 50px;
}

.second  {
  font-size: 30px;
}

.second a {
  padding-left: 7px;
}

.footer a {
  width: 20px;
  color: #1EDD88;
}

.footer p {
  color: grey;
  text-align: center;
}

